@model IEnumerable<MaintenanceRecords.Models.MaintItemListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    @if (TempData.ContainsKey("SaveResult"))
    {
<div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
    <table class="table">
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiscInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemLocation.SiteName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ItemId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiscInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemLocation.SiteName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>*@
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ItemId }) |
        @Html.ActionLink("Show all item records", "../MaintRecord/show", new { id = item.ItemId })
    </td>
    </tr>
        }

    </table>
