@model MaintenanceRecords.Models.MaintRecordDetail

@{
    ViewBag.Title = "Details";
}

<h2>Record Details</h2>

<div>
    @*<h4>MaintRecordDetail</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecordId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintItem.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintItem.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecordId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
