@model IEnumerable<MaintenanceRecords.Models.LocationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role="alert">

    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>
}
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.SiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.LocationId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                <a href="@Url.Action("Edit", "MaintRecord", new { id = item.LocationId })" title="Edit" , rel="nofollow">
                    <img src="@Url.Content("~/Content/Images/edit-16.png")" /></a> |
                @*@Html.ActionLink("Edit", "Edit", new { id = item.RecordId }) |*@
                <a href="@Url.Action("Details", "MaintRecord", new { id = item.LocationId })" title="Details" , rel="nofollow">
                    <img src="@Url.Content("~/Content/Images/details-16.png")" /></a> |
                @*@Html.ActionLink("Details", "Details", new { id = item.RecordId }) |*@
                <a href="@Url.Action("Delete", "MaintRecord", new { id = item.LocationId })" title="Remove" , rel="nofollow">
                    <img src="@Url.Content("~/Content/Images/delete-16.png")" /></a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                @Html.ActionLink("Details", "Details", new { id = item.LocationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })*@
            </td>
        </tr>
    }

</table>
